    body {
      background-color: #085497;
      text-align: center;
      font-family: fantasy;
    }

  hr {background-color: #001E6C;
  border-style: dashed;
  height: 2px;
  }


    table {margin: 0 auto;}


  .circular{ border-radius: 100%;}
  
  .top-container {padding: 20px}
 
  