body {
  background-color: #085497;
  text-align: center;
  font-family: serif;
}

h1 {
  margin-top: 70px;
  padding-left: 10%;
  font-size: 50px;
}

h2 {
  font-size: 35px;
  margin-bottom: 30px;
  padding-left: 10%;
}

hr {
  background-color: #001E6C;
  border-style: dashed;
  height: 2px;
}

h6 {
  margin-top: 80px;
}

.circular {
  margin-bottom: 25px;
}

table {
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

.circular {
  border-radius: 100%;
}

.first-box {
  line-height: 2;
}

.second-box {
  line-height: 2;
}

.top-container {
  padding: 3% 5%
}


.contact-box {
  font-size: 25px;
}

.contact-box2 {
  font-size: 25px;
}

.contact-box3 {
  font-size: 25px;
}

.instructions {
  text-align: left;
  font-size: 30px;
  margin-top: 1rem;
}

.btn {
  background: #34c8d9;
  background-image: -webkit-linear-gradient(top, #34c8d9, #2980b9);
  background-image: -moz-linear-gradient(top, #34c8d9, #2980b9);
  background-image: -ms-linear-gradient(top, #34c8d9, #2980b9);
  background-image: -o-linear-gradient(top, #34c8d9, #2980b9);
  background-image: linear-gradient(to bottom, #34c8d9, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 50px;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 100px;
  position:absolute;
  left: 45%;
}

.btn:hover {
  background: #3cfac7;
  background-image: -webkit-linear-gradient(top, #3cfac7, #346ed9);
  background-image: -moz-linear-gradient(top, #3cfac7, #346ed9);
  background-image: -ms-linear-gradient(top, #3cfac7, #346ed9);
  background-image: -o-linear-gradient(top, #3cfac7, #346ed9);
  background-image: linear-gradient(to bottom, #3cfac7, #346ed9);
  text-decoration: none;
}

.btn3 {
  background: #34c8d9;
  background-image: -webkit-linear-gradient(top, #34c8d9, #2980b9);
  background-image: -moz-linear-gradient(top, #34c8d9, #2980b9);
  background-image: -ms-linear-gradient(top, #34c8d9, #2980b9);
  background-image: -o-linear-gradient(top, #34c8d9, #2980b9);
  background-image: linear-gradient(to bottom, #34c8d9, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 50px;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 100px;
  position: absolute;
  bottom: 10%;
  left: 45%;
}

.btn3:hover {
  background: #3cfac7;
  background-image: -webkit-linear-gradient(top, #3cfac7, #346ed9);
  background-image: -moz-linear-gradient(top, #3cfac7, #346ed9);
  background-image: -ms-linear-gradient(top, #3cfac7, #346ed9);
  background-image: -o-linear-gradient(top, #3cfac7, #346ed9);
  background-image: linear-gradient(to bottom, #3cfac7, #346ed9);
  text-decoration: none;
}

.btn4 {
  background: #34c8d9;
  background-image: -webkit-linear-gradient(top, #34c8d9, #2980b9);
  background-image: -moz-linear-gradient(top, #34c8d9, #2980b9);
  background-image: -ms-linear-gradient(top, #34c8d9, #2980b9);
  background-image: -o-linear-gradient(top, #34c8d9, #2980b9);
  background-image: linear-gradient(to bottom, #34c8d9, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 50px;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 100px;
  position: absolute;
  bottom: 5%;
  left: 10%;
}

.btn4:hover {
  background: #3cfac7;
  background-image: -webkit-linear-gradient(top, #3cfac7, #346ed9);
  background-image: -moz-linear-gradient(top, #3cfac7, #346ed9);
  background-image: -ms-linear-gradient(top, #3cfac7, #346ed9);
  background-image: -o-linear-gradient(top, #3cfac7, #346ed9);
  background-image: linear-gradient(to bottom, #3cfac7, #346ed9);
  text-decoration: none;
}

.ball-btn {
  background: #34c8d9;
  background-image: -webkit-linear-gradient(top, #34c8d9, #2980b9);
  background-image: -moz-linear-gradient(top, #34c8d9, #2980b9);
  background-image: -ms-linear-gradient(top, #34c8d9, #2980b9);
  background-image: -o-linear-gradient(top, #34c8d9, #2980b9);
  background-image: linear-gradient(to bottom, #34c8d9, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 50px;
  font-family: sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 40px;
  position:absolute;
  left: 45%;
}


.ball-btn:hover {
  background: #3cfac7;
  background-image: -webkit-linear-gradient(top, #3cfac7, #346ed9);
  background-image: -moz-linear-gradient(top, #3cfac7, #346ed9);
  background-image: -ms-linear-gradient(top, #3cfac7, #346ed9);
  background-image: -o-linear-gradient(top, #3cfac7, #346ed9);
  background-image: linear-gradient(to bottom, #3cfac7, #346ed9);
  text-decoration: none;
}

.shake {
  animation: shake 1s;
}

@keyframes shake {
  0% {
    transform: translate(4px, 4px) rotate(0deg);
  }

  10% {
    transform: translate(-4px, -4px) rotate(-1deg);
  }

  20% {
    transform: translate(-7px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(7px, 4px) rotate(0deg);
  }

  40% {
    transform: translate(4px, -4px) rotate(1deg);
  }

  50% {
    transform: translate(-4px, 4px) rotate(-1deg);
  }

  60% {
    transform: translate(-7px, 4px) rotate(0deg);
  }

  70% {
    transform: translate(7px, 4px) rotate(-1deg);
  }

  80% {
    transform: translate(-4px, -4px) rotate(1deg);
  }

  90% {
    transform: translate(4px, 4px) rotate(0deg);
  }

  100% {
    transform: translate(4px, -4px) rotate(-1deg);
  }
}

.eball {
  text-align: left;
  padding-bottom: 70%;
}

.center {
  text-align: center;
  padding-top: 2em;

}

#message {
  font-size: 35px;
 position:absolute;
 right: 180px;
 bottom: 300px;

}

.ballhead {
  text-align: center;
  padding-right: 11%;
}

